<!doctype html>
<html data-ng-app="myApp">
<head>
    <meta charset="utf-8">
    <style>
        [ng-cloak]
        {
            display: none;
        }
    </style>
    <script src="https://dateit.azure-mobile.net/client/MobileServices.Web-1.0.0.min.js"></script>
    <title>My AngularJS App</title>
@*    <link href="/Content/bootstrap.min.css" rel="stylesheet" />*@
    @*    <link href="/Content/bootstrap-responsive.min.css" rel="stylesheet" />*@
    <link href="/Content/normalize.css" rel="stylesheet" />
    <link href="/Content/foundation.min.css" rel="stylesheet" />
    <link href="/Content/topcoat-mobile-dark.min.css" rel="stylesheet" />
    <script src="//use.edgefonts.net/lato.js"></script>
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
<div class="topcoat-navigation-bar">
<div class="topcoat-navigation-bar__item center full">
<h1 class="topcoat-navigation-bar__title">DateIt</h1>
</div>
</div>
    <ul class="inline-list">
        <li><a href="#/infridge">In Fridge</a></li>
        <li><a href="#/addByText">Add</a></li>
    </ul>

    @RenderBody()
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-resource.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/index.js"></script>

</body>
</html>
