<!doctype html>
<html data-ng-app="myApp">
<head>
    <meta charset="utf-8">
    <style>
        [ng-cloak]
        {
            display: none;
        }
    </style>
    <script src="https://dateit.azure-mobile.net/client/MobileServices.Web-1.0.0.min.js"></script>
    <title>My AngularJS App</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/app.css" />
    <script src="//use.edgefonts.net/lato.js"></script>
</head>
<body>
    <h2>DateIt</h2>
    <ul class="menu">
        <li><a href="#/infridge">In Fridge</a></li>
        <li><a href="#/addByText">view2</a></li>
    </ul>

    @RenderBody()

    <div>Angular seed app: v<span data-app-version=""></span></div>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-resource.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/index.js"></script>

</body>
</html>
