<form data-ng-submit="addDateItItem()">
    <div class="row">
        <div class="span12">
            <input type="text" value="" placeholder="name" class="span12" data-ng-model="name" />
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <input type="text" value="" placeholder="shelf life" class="span12" data-ng-model="shelflifeInDays" />
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <input  class="btn btn-large btn-block btn-info" type="submit" value="ADD" />
        </div>
    </div>
</form>
