<div id="footer">
    <div class="topcoat-button-bar full">
        <div class="topcoat-button-bar__item">
            <a class="topcoat-button-bar__button full" data-ng-href="#/infridge"><i class="icon-list"></i></a>
        </div>
        <div class="topcoat-button-bar__item">
            <a class="topcoat-button-bar__button full" data-ng-href="#/addByText"><i class="icon-font"></i></a>
        </div>
        <div class="topcoat-button-bar__item">
            <a class="topcoat-button-bar__button full" data-ng-href="#/addByText"><i class="icon-camera"></i></a>
        </div>
        <div class="topcoat-button-bar__item">
            <a class="topcoat-button-bar__button full" data-ng-href="#/addByText"><i class="icon-barcode"></i></a>
        </div>
    </div>
</div>